<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

        </div>

        <!-- /.content-wrapper -->
        <%- include('../footer.ejs') %>